* text=auto
*.c text eol=lf
*.h text eol=lf
*.inc text eol=lf
*.cs text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.json text eol=lf
*.ps1 text eol=crlf
*.vbs text eol=crlf
*.png binary
*.zip binary
